@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .layout-bg {
    @apply bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] from-[#4C49ED] via-[#2d2da0] to-[#0A06F4];
  }

  .layout-bg-vertical {
    @apply bg-gradient-to-b from-gray-600 via-blue-500 to-cyan-400;
  }

  .base-btn-bg {
    @apply bg-gradient-to-r from-gray-600 via-blue-500 to-cyan-400;
  }

  .base-btn-bg:hover {
    @apply from-[#083aa9] via-blue-600 to-cyan-500;
  }

  .profile-card-bg {
    @apply bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] from-[#4338ca] via-[#6366f1] to-[#a5b4fc];
  }

  .table-header-bg {
    @apply bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-[#351f39] via-[#726a95] to-[#719fb0]; /* good */
  }
}
